<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <ul>
        <li><a href="#"><p> Header LOGO </p></a></li>
        <section class="left">
        <li><a href="#"><p> Header Link 1 </p></a></li>
        <li><a href="#"><p> Header Link 2 </p></a></li>
        <li><a href="#"><p> Header Link 3 </p></a></li>
        </section>
    </ul>

    <div class="first">
        <div class="text-one">
        <h2>This website is awsome </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quia iure, corrupti quis repellendus inventore magnam voluptate Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ut velit minima repudiandae soluta fuga deleniti reiciendis, numquam temporibus, assumenda voluptas at quidem provident consectetur repellat. Inventore explicabo reprehenderit cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perspiciatis nemo dolorem nobis maxime. Voluptatibus rem asperiores earum veritatis, possimus, porro quidem, molestiae cum optio laboriosam iure. Sunt, temporibus ducimus?</p>
        <button>Sign up</button>
        </div>
      <div class="placeholder"><p>this is a placeholder for an image</p></div>
    </div>
    <section class="informations">
        <h3>Some Random Information.</h3>
    <div class="boxes">
        <section><div class="box"></div><p>this is subtext under an illustration or image</p></section>
        <section><div class="box"></div><p>this is subtext under an illustration or image</p></section>
        <section><div class="box"></div><p>this is subtext under an illustration or image</p></section>
        <section><div class="box"></div><p>this is subtext under an illustration or image</p></section>
    </div>
    </section>
    <div class="quotation">
        <p class="quote"><em>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus suscipit distinctio qui dolorem reprehenderit. Quae numquam et laboriosam maxime itaque voluptates reprehenderit deserunt totam, non facilis, modi tempora nesciunt enim."</p></em>
        <p class="writer"><strong>-lorem epsum the lord of connaught</strong></p>
    </div>

    <div class="sign-up">
        <div class="text">
            <h4>Call to action! It's time!</h4>
            <p>Sign up for our product buy clicking that button right over there!</p>
        </div>
        <button>Sign up</button>
    </div>
    
<footer><p> Copyright © The Odin Project 2022</p></footer>

</body>
</html>