/*
body{
    width :80%;
    margin: auto;
}
*/
*{
    margin: 0;
    padding: 0 ;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
   }
/*.logo { 
    height: 75px;
    width: 75px;
}
*/
.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 20px 0px;
}

a{
    text-decoration: none;
    color: rgb(44, 9, 9);
}

.pic {
    display: flex;
    height:800px;
    width: 900px;
}

.first{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
    align-items: center;
    height: 500px;
    width: 100%;
    justify-content: center;
}

.in{
    display: flex;
    margin-right: 30px ;
    flex-wrap: wrap;
    align-items: center;
}

.upper{
    background-color: #1F2937;
    color: #F9FAF8;

}

h2{
    font-size: 48px;
    font-weight: bolder;
}

.in p{
    display: flex;
    flex-wrap: wrap;
    color: #E5E7EB;
    font-size: 18px;
    max-width: 600px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button{
        background-color: #3882F6;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        font-weight: bold;
        margin: 20px 15px;
}

.first button{
    display: flex;
    flex-wrap: wrap;
    max-width: 24;
}

h3{
    text-align: center;
    font-size: 36px ;
    font-weight: bolder ;

}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.box{
    border: 3px solid #3882F6;  
    border-radius: 12px;  
    height: 150px;
    width: 150px;
}

.mid-bot{
    display: flex;
    width: auto;
    height: 350px;
    margin-top: 50px;
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote{ 
    text-align: center;
    margin-top: 70px;
    font-size: 36px;
}

.writer{
    font-size: 36px;
    text-align: end;
    margin-right: 80px;
}

.blue{
    display: flex;
    width: 70%;
    background-color: #3882F6;
    border-radius: 12px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin: 200px auto;
    height: 200px;
}

.bout{
    border: 2px solid white;
}

.text{
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.bol{
    font-size: 28px;
}

.foot{
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4{


background-color: rgb(110, 21, 21);
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
}